~
build/
builds/
BuildLogs/
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
zip/
unzip/**
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*node_modules*
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.[Pp]ublish.xml
*results.xml
[Aa]pp.config
[Ww]eb.config
!*Test*/[Aa]pp.config
log4net.config
*.plugin
*.boo
[Cc]ommon[Aa]ssembly[Ii]nfo.cs
NUnit-TestDataOutput.xml
OneTechnologies.Clients.MemberPortal/Content/js/test/specs.js
*.log
*.log.*
*.InstallLog
InputOutput/**
!EnterpriseServices.5.1.ReSharper
InputOutput/
[Dd]eployment/WWW/
*crunch*
packages/*
!OneTechnologies.Credit.TransUnion.TestUtility/*.config
ServiceBus*.xsd
ServiceBus*.wsdl
.idea/
*app.css
*app.min.css
*raphaelCombined*
core.js
core.min.js
*View.js
*View.min.js
*scripts.js
*scripts.min.js
OneTechnologies.Clients.MemberPortal/Content/js/app/googleMaps.js
*main.min.js
*configSettings.js
*.js.html
*.png
*.pdf
